{% extends 'myapp/base.html' %} {% block content %}
<div class="container  py-3">
    <div class="card bg-gradient" style="background-color:#0A87DB; border-radius:25px">
        <div class="card-body">
            <h2 class="my-3 text-center text-light" style="font-size: 40px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Bus Reservation System</h2>

        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-lg-5 col-md-7 col-sm-10 col-xs-12">
            <div class="card rounded-0">
                <div class="card-header">
                    <div class="card-title h3 fw-bolde mb-0 text-center" style="color: #0A87DB;">LOGIN</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form action="{% url 'signin' %}" method="post" id="signin-form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="control-label"style="color: #0A87DB;">User:</label>
                                <input name='name' class="form-control rounded-0" type="text" id="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="example-email-input" class="control-label" style="color: #0A87DB;">Password:</label>
                                <input name='password' class="form-control rounded-0" type="password" required>
                            </div>

                        </form>
                        <p>{{error}}</p>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-sm rounded-0 btn-primary btn-block w-100" form="signin-form" style="color: white;">Login</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}